<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모집 현황</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/board.js}"></script>
</head>
<body>
<h1>모집 현황</h1>
<h3>인원 (<span th:text="${board.headcnt}"></span>/<span th:text="${board.capacity}"></span>)</h3>

<table border="1">
    <tr>
        <th>아이디</th><th>구성원</th><th>상태</th><th>신청일</th><th>관리</th>
    </tr>
    <tr th:each="group : ${list}">
        <td th:text="${group.memberId}"></td>
        <td th:text="${group.role}"></td>
        <td th:text="${group.status}"></td>
        <td th:text="${group.joinedDate}"></td>
        <td>
            <div th:if="${group.role != 'LEADER' and board.status == 'OPEN' and group.status == 'PENDING'}">
                <button type="button" th:onclick="|processApplication(${group.groupId}, 'APPROVE', ${board.boardNum})|">승인</button>
                <button type="button" class="secondary" th:onclick="|processApplication(${group.groupId}, 'REJECT', ${board.boardNum})|">거절</button>
            </div>
        </td>
    </tr>
</table>

<br>
<a th:href="@{/board/detail(boardNum=${board.boardNum})}">돌아가기</a>
</body>
</html>