<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/board.js}"></script>
</head>
<body>
<h1>게시판</h1>

<select id="categorySelect">
    <option value="ALL">전체 카테고리 보기</option>
    <option value="STUDY">STUDY</option>
    <option value="HEALTHY">HEALTHY</option>
    <option value="TRIP">TRIP</option>
</select>

<a th:href="/board/writeForm">글쓰기</a>

<table border="1">
    <thead>
    <tr>
        <th>카테고리</th><th>제목</th><th>작성자</th><th>모집상태</th><th>정원수</th><th>작성일</th>
    </tr>
    </thead>
    <tbody id="listArea">
    </tbody>
</table>
</body>
</html>