<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Community Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>HOME</h1>

<div sec:authorize="!isAuthenticated()">
    <a href="/member/joinForm">회원가입</a><br>
    <a href="/member/loginForm">로그인</a>
</div>

<div sec:authorize="isAuthenticated()">
    <a href="/member/logout">로그아웃</a><br>
    <a href="/board/mypage">마이페이지</a><br>
    <a href="/board/list">게시판</a>
</div>
</body>
</html>